@media (min-width:320px)  {
    .filtro-bn{
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-size:100% 100%!important;
        background-attachment: unset!important;
    }

    .margin-maneki{
        padding: 20px!important;
    }

    .mv-1000{
        min-height: 200px!important;
    }

    .mv-600{
        min-height: 100px!important;
    }

    .mv-500{
        min-height: 125px!important;
    }

    .mv-400{
        min-height: 50px!important;
    }

    .mv-350{
        min-height: 40px!important;
    }

    .mt20{
        margin-top: 0px!important;
    }
}

@media (min-width:481px) {
    .filtro-bn{
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-size:100% 100%!important;
        background-attachment: unset!important;
    }

    .margin-maneki{
        padding: 20px!important;
    }

    .mv-1000{
        min-height: 210px!important;
    }

    .mv-600{
        min-height: 110px!important;
    }

    .mv-500{
        min-height: 135px!important;
    }

    .mv-400{
        min-height: 60px!important;
    }

    .mv-350{
        min-height: 50px!important;
    }

    .mt20{
        margin-top: 0px!important;
    }
}

@media (min-width:641px)  {
    .filtro-bn{
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-size:100% 100%!important;
        background-attachment: unset!important;
    }

    .margin-maneki{
        padding: 20px!important;
    }

    .mv-1000{
        min-height: 260px!important;
    }

    .mv-600{
        min-height: 170px!important;
    }

    .mv-500{
        min-height: 190px!important;
    }

    .mv-400{
        min-height: 110px!important;
    }

    .mv-350{
        min-height: 100px!important;
    }

    .mt10{
        margin-top: -4px!important;
    }

    .mt20{
        margin-top: -8px!important;
    }
}

@media (min-width:961px)  {
    .filtro-bn{
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-size:100% 100%!important;
        background-attachment: unset!important;
    }

    .margin-maneki{
        padding: 50px!important;
    }

    .mv-1000{
        min-height: 600px!important;
    }

    .mv-600{
        min-height: 360px!important;
    }

    .mv-500{
        min-height: 300px!important;
    }

    .mv-400{
        min-height: 240px!important;
    }

    .mv-350{
        min-height: 180px!important;
    }

    .mt10{
        margin-top: -10px!important;
    }

    .mt20{
        margin-top: -20px!important;
    }
}

@media (min-width:1025px) {
    .filtro-bn{
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-size:100% 100%!important;
        background-attachment: unset!important;
    }

    .margin-maneki{
        padding: 50px!important;
    }

    .mv-1000{
        min-height: 600px!important;
    }

    .mv-600{
        min-height: 360px!important;
    }

    .mv-500{
        min-height: 300px!important;
    }

    .mv-400{
        min-height: 240px!important;
    }

    .mv-350{
        min-height: 180px!important;
    }

    .mt10{
        margin-top: -10px!important;
    }

    .mt20{
        margin-top: -20px!important;
    }
}

@media (min-width:1281px) {
    .filtro-bn{
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-size:100% 100%!important;
        background-attachment: unset!important;
    }

    .margin-maneki{
        padding: 50px!important;
    }

    .mv-1000{
        min-height: 600px!important;
    }

    .mv-600{
        min-height: 360px!important;
    }

    .mv-500{
        min-height: 300px!important;
    }

    .mv-400{
        min-height: 240px!important;
    }

    .mv-350{
        min-height: 180px!important;
    }

    .mt10{
        margin-top: -10px!important;
    }

    .mt20{
        margin-top: -20px!important;
    }

}


.filtro-bn{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    min-height: 400px;
    margin: 2px;
    cursor: pointer;
}

.img1{
    background-image: url("../../assets/img/img1.webp");
}

.img2{
    background-image: url("../../assets/img/img2.webp");
}

.img3{
    background-image: url("../../assets/img/img3.webp");
}

.img4{
    background-image: url("../../assets/img/img4.webp");
}

.img5{
    background-image: url("../../assets/img/img5.webp");
}

.img6{
    background-image: url("../../assets/img/img6.webp");
}

.img7{
    background-image: url("../../assets/img/img7.webp");
}

.img8{
    background-image: url("../../assets/img/img8.webp");
}

.img9{
    background-image: url("../../assets/img/img9.webp");
}

.img10{
    background-image: url("../../assets/img/img10.webp");
}

.img11{
    background-image: url("../../assets/img/img11.webp");
}

.img12{
    background-image: url("../../assets/img/img12.webp");
}

.img13{
    background-image: url("../../assets/img/img13.webp");
}

.img14{
    background-image: url("../../assets/img/img14.webp");
}

.img15{
    background-image: url("../../assets/img/img15.webp");
}

.img16{
    background-image: url("../../assets/img/img16.webp");
}

.img17{
    background-image: url("../../assets/img/img17.webp");
}

.img18{
    background-image: url("../../assets/img/img18.webp");
}

.img19{
    background-image: url("../../assets/img/img19.webp");
}

.img20{
    background-image: url("../../assets/img/img20.webp");
}

.img21{
    background-image: url("../../assets/img/img21.webp");
}

.img22{
    background-image: url("../../assets/img/img22.webp");
}

.img23{
    background-image: url("../../assets/img/img23.webp");
}

.img24{
    background-image: url("../../assets/img/img24.webp");
}

.img25{
    background-image: url("../../assets/img/img25.webp");
}

.img26{
    background-image: url("../../assets/img/img26.webp");
}

.img27{
    background-image: url("../../assets/img/img27.webp");
}

.img28{
    background-image: url("../../assets/img/img28.webp");
}

.img29{
    background-image: url("../../assets/img/img29.webp");
}

.img30{
    background-image: url("../../assets/img/img30.webp");
}




.img1:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/1.gif");
}

.img2:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/2.gif");
}

.img3:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/3.gif");
}

.img4:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/4.gif");
}

.img5:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/5.gif");
}

.img6:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/6.gif");
}

.img7:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/7.gif");
}

.img8:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/8.gif");
}

.img9:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/9.gif");
}

.img10:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/10.gif");
}

.img11:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/11.gif");
}

.img12:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/12.gif");
}

.img13:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/13.gif");
}

.img14:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/14.gif");
}

.img15:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/15.gif");
}

.img16:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/16.gif");
}

.img17:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/17.gif");
}

.img18:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/18.gif");
}

.img19:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/19.gif");
}

.img20:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/20.gif");
}

.img21:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/21.gif");
}

.img22:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/22.gif");
}

.img23:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/23.gif");
}

.img24:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/24.gif");
}

.img25:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/25.gif");
}

.img26:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/26.gif");
}

.img27:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/27.gif");
}

.img28:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/28.gif");
}

.img29:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/29.gif");
}

.img30:hover{
    -webkit-filter: none!important;
    filter: none!important;
    background-image: url("../../assets/gif/30.gif");
}

.max-width{
    max-width: 1300px!important;
    margin: auto;
}