.filtro-bn{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url("../../assets/img/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width: 100%;
    min-height: 400px;
    margin: 2px;
    cursor: pointer;
}

.img1{
    background-image: url("../../assets/img/img1.png");
}

.img2{
    background-image: url("../../assets/img/img2.png");
}

.img3{
    background-image: url("../../assets/img/img3.png");
}

.img4{
    background-image: url("../../assets/img/img4.png");
}

.img5{
    background-image: url("../../assets/img/img5.png");
}

.img6{
    background-image: url("../../assets/img/img6.png");
}

.img7{
    background-image: url("../../assets/img/img7.png");
}

.img8{
    background-image: url("../../assets/img/img8.png");
}

.img9{
    background-image: url("../../assets/img/img9.png");
}

.img10{
    background-image: url("../../assets/img/img10.png");
}

.img11{
    background-image: url("../../assets/img/img11.png");
}

.img12{
    background-image: url("../../assets/img/img12.png");
}

.img13{
    background-image: url("../../assets/img/img13.png");
}

.img14{
    background-image: url("../../assets/img/img14.png");
}

.img15{
    background-image: url("../../assets/img/img15.png");
}

.img16{
    background-image: url("../../assets/img/img16.png");
}

.img17{
    background-image: url("../../assets/img/img17.png");
}

.img18{
    background-image: url("../../assets/img/img18.png");
}

.img19{
    background-image: url("../../assets/img/img19.png");
}

.img20{
    background-image: url("../../assets/img/img20.png");
}

.img21{
    background-image: url("../../assets/img/img21.png");
}

.img22{
    background-image: url("../../assets/img/img22.png");
}

.img23{
    background-image: url("../../assets/img/img23.png");
}

.img24{
    background-image: url("../../assets/img/img24.png");
}

.img25{
    background-image: url("../../assets/img/img25.png");
}

.img26{
    background-image: url("../../assets/img/img26.png");
}

.img27{
    background-image: url("../../assets/img/img27.png");
}

.img28{
    background-image: url("../../assets/img/img28.png");
}

.img29{
    background-image: url("../../assets/img/img29.png");
}

.img30{
    background-image: url("../../assets/img/img30.png");
}




.img1:hover{
    background-image: url("../../assets/gif/1.gif");
}

.img2:hover{
    background-image: url("../../assets/gif/2.gif");
}

.img3:hover{
    background-image: url("../../assets/gif/3.gif");
}

.img4:hover{
    background-image: url("../../assets/gif/4.gif");
}

.img5:hover{
    background-image: url("../../assets/gif/5.gif");
}

.img6:hover{
    background-image: url("../../assets/gif/6.gif");
}

.img7:hover{
    background-image: url("../../assets/gif/7.gif");
}

.img8:hover{
    background-image: url("../../assets/gif/8.gif");
}

.img9:hover{
    background-image: url("../../assets/gif/9.gif");
}

.img10:hover{
    background-image: url("../../assets/gif/10.gif");
}

.img11:hover{
    background-image: url("../../assets/gif/11.gif");
}

.img12:hover{
    background-image: url("../../assets/gif/12.gif");
}

.img13:hover{
    background-image: url("../../assets/gif/13.gif");
}

.img14:hover{
    background-image: url("../../assets/gif/14.gif");
}

.img15:hover{
    background-image: url("../../assets/gif/15.gif");
}

.img16:hover{
    background-image: url("../../assets/gif/16.gif");
}

.img17:hover{
    background-image: url("../../assets/gif/17.gif");
}

.img18:hover{
    background-image: url("../../assets/gif/18.gif");
}

.img19:hover{
    background-image: url("../../assets/gif/19.gif");
}

.img20:hover{
    background-image: url("../../assets/gif/20.gif");
}

.img21:hover{
    background-image: url("../../assets/gif/21.gif");
}

.img22:hover{
    background-image: url("../../assets/gif/22.gif");
}

.img23:hover{
    background-image: url("../../assets/gif/23.gif");
}

.img24:hover{
    background-image: url("../../assets/gif/24.gif");
}

.img25:hover{
    background-image: url("../../assets/gif/25.gif");
}

.img26:hover{
    background-image: url("../../assets/gif/26.gif");
}

.img27:hover{
    background-image: url("../../assets/gif/27.gif");
}

.img28:hover{
    background-image: url("../../assets/gif/28.gif");
}

.img29:hover{
    background-image: url("../../assets/gif/29.gif");
}

.img30:hover{
    background-image: url("../../assets/gif/30.gif");
}